<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="movieSearch" layout="column" ng-controller="MovieController as ctrl">
    <div ng-controller="ToggleList">
        <md-toolbar layout="row">
            <md-button class="menu" ng-click="toggleLeft();">
                <md-icon>
                    menu
                </md-icon>
            </md-button>
            <div flex="20" layout="row" layout-align="start center">
                <h3>Genres</h3>
            </div>
            <div flex layout="row" layout-align="center center">
                <h3>Movie Database</h3>
            </div>
        </md-toolbar>
    </div>
    <div class="container" layout="row" flex>
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" flex="20" md-whiteframe="4dp" md-component-id="left"
            class="md-sidenav-left">
            <md-list>
                <md-list-item ng-class="{ 'selected': ctrl.selectedGenre === 'ALL' }"
                    ng-click="ctrl.selectGenre('ALL')">
                    ALL
                </md-list-item>
                <md-list-item ng-repeat="genre in ctrl.genres" ng-click="ctrl.selectGenre(genre)"
                    ng-class="{ 'selected': ctrl.selectedGenre === genre }">
                    {{ genre }}
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content id="content" flex>
            <form ng-submit="ctrl.searchMovie()">
                <md-input-container layout layout-margin flex>
                    <input type="text" ng-model="ctrl.searchText" placeholder="Movie Name" flex id="searchInput">
                    <md-icon>search</md-icon>
                </md-input-container>
            </form>
            <div ng-show="ctrl.filteredMovies.length > 0" layout="row" layout-wrap>
                <md-card flex-gt-sm="20" flex-sm="40" flex-lt-sm="30" ng-repeat="movie in ctrl.filteredMovies"
                    ng-click="ctrl.showDialog(movie)" class="movie-card">
                    <img ng-src="{{ movie.Poster }}" alt="Movie Poster">
                    <div class="star-container">
                        <md-icon ng-repeat="i in [1, 2, 3, 4, 5]" class="star-icon"
                            ng-style="{ 'color': i <= ctrl.mapRating(movie) ? 'red' : 'gray' }">
                            star
                        </md-icon>
                    </div>
                    <md-card-content>
                        <p class="custom-font">Title: {{ movie.Title }}</p>
                        <p class="custom-font">Year: {{ movie.Year }}</p>
                        <p class="custom-font">Rated: {{ movie.Rated }}</p>
                        <p class="custom-font">Released: {{ movie.Released }}</p>
                        <p class="custom-font">Runtime: {{ movie.Runtime }}</p>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </div>
    <script type="text/ng-template" id="Edit_Details.html">
        <md-dialog aria-label="Edit Details">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="dialogCtrl.closeDialog()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="width: 300px;">
                <div layout="column" layout-margin>
                    <img ng-src="{{ dialogCtrl.selectedMovie.Poster }}" alt="Movie Poster"
                        style="max-width: 100%; max-height: 300px; margin-bottom: 10px;">
                        <div class="star-container">
                            <md-icon ng-repeat="i in [1, 2, 3, 4, 5]" class="star-icon"
                                     ng-style="{ 'color': i <= dialogCtrl.mapRating(dialogCtrl.selectedMovie) ? 'red' : 'gray' }">
                                star
                            </md-icon>
                        </div>
                        
                    <md-input-container flex>
                        <label>Year</label>
                        <input ng-model="dialogCtrl.selectedMovie.Year" type="text">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Genre</label>
                        <input ng-model="dialogCtrl.selectedMovie.Genre" type="text">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Director</label>
                        <input ng-model="dialogCtrl.selectedMovie.Director" type="text">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Actors</label>
                        <input ng-model="dialogCtrl.selectedMovie.Actors" type="text">
                    </md-input-container>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button ng-click="dialogCtrl.resetChanges()">Reset</md-button>
                <md-button ng-click="dialogCtrl.saveChanges()">Save</md-button>
            </md-dialog-actions>
        </md-dialog>
    </script>
</body>

</html>



var myApp = angular.module("movieSearch", ['ngMaterial']);

myApp.controller('ToggleList', function ($scope, $mdSidenav) {
    $scope.toggleLeft = buildToggler('left');

    function buildToggler(componentId) {
        return function () {
            $mdSidenav(componentId).toggle();
        };
    }
});

myApp.controller('MovieController', function ($http, $mdDialog) {
    var ctrl = this;

    ctrl.genres = ['Action', 'Comedy', 'Drama', 'Horror', 'Sci-Fi'];
    ctrl.selectedGenre = 'ALL';
    ctrl.searchText = '';
    ctrl.movies = [];
    ctrl.filteredMovies = [];

    ctrl.loadMovies = function () {
        var storedMovies = localStorage.getItem('movies');
        ctrl.movies = storedMovies ? JSON.parse(storedMovies) : [];
        ctrl.filteredMovies = ctrl.movies;
    };

    ctrl.searchMovie = function () {
        var storedMovie = localStorage.getItem('searchedMovie_' + ctrl.searchText);
        console.log('Search text:', ctrl.searchText);
        console.log('Stored movie:', storedMovie);
    
        if (storedMovie) {
            console.log('Movie data fetched from local storage:', storedMovie);
            ctrl.movie = JSON.parse(storedMovie);
            ctrl.dataSource = 'Local Storage';
    
            ctrl.filteredMovies = [ctrl.movie];
    
            if (ctrl.searchText) {
                console.log('Clearing genre filter');
                ctrl.selectedGenre = 'ALL';
            }
    
        } else {
            $http.get('http://www.omdbapi.com/?apikey=f5b4a719&t=' + ctrl.searchText)
                .then(function (response) {
                    console.log('Success! Response from API:', response.data);
                    if (response.data.Response === 'True') {
                        ctrl.movie = response.data;
                        localStorage.setItem('searchedMovie_' + ctrl.searchText, JSON.stringify(response.data));
                        ctrl.filteredMovies = [ctrl.movie];
                        if (ctrl.searchText) {
                            console.log('Clearing genre filter');
                            ctrl.selectedGenre = 'ALL';
                        }
                    } else {
                        console.log('Movie not found:', response.data.Error);
                        alert('Movie not found: ' + response.data.Error);
                    }
                })
                .catch(function (error) {
                    console.error('Error fetching movie details:', error);
                    alert('Error fetching movie details. Please try again later.');
                });
        }
    };    
    
    ctrl.loadMovies();

    ctrl.applyGenreFilter = function () {
        ctrl.filteredMovies = ctrl.movies.filter(function (movie) {
            return ctrl.selectedGenre === 'ALL' || movie.Genre.toLowerCase().includes(ctrl.selectedGenre.toLowerCase());
        });
    };

    for (var key in localStorage) {
        if (key.startsWith('searchedMovie_')) {
            ctrl.movies.push(JSON.parse(localStorage.getItem(key)));
        }
    }

    ctrl.mapRating = function (movie) {
        if (!movie || !movie.imdbRating) {
            return 0;
        }
    
        var rating = parseFloat(movie.imdbRating);
        return Math.round(rating / 2);
    };

    ctrl.showDialog = function (movie) {
        console.log("Clicked movie:", movie);
        ctrl.selectedMovie = angular.copy(movie);

        $mdDialog.show({
            controller: 'DialogController',
            controllerAs: 'dialogCtrl',
            templateUrl: 'Edit_Details.html',
            parent: angular.element(document.body),
            clickOutsideToClose: true,
            locals: {
                selectedMovie: ctrl.selectedMovie
            }
        });
    };

    ctrl.selectGenre = function (genre) {
        ctrl.selectedGenre = genre;
        if (genre === 'ALL') {
            ctrl.filteredMovies = ctrl.movies;
        } else {
            var uniqueMovies = new Set();
            ctrl.filteredMovies = ctrl.movies.filter(function (movie) {
                var genreMatches = !genre || (movie.Genre && movie.Genre.toLowerCase().includes(genre.toLowerCase()));
                var isUnique = !uniqueMovies.has(movie.Title);
                if (genreMatches && isUnique) {
                    uniqueMovies.add(movie.Title);
                    console.log("Added to filteredMovies:", movie.Title); 
                    return true;
                }
                return false;
            });
        }
        console.log("Filtered movies:", ctrl.filteredMovies); 
    };
    

});

myApp.controller('DialogController', ['$mdDialog', '$scope', 'selectedMovie', function ($mdDialog, $scope, selectedMovie) {
    var dialogCtrl = this;
    dialogCtrl.selectedMovie = angular.copy(selectedMovie);
    var originalMovie = angular.copy(selectedMovie);

    dialogCtrl.resetChanges = function () {
        dialogCtrl.selectedMovie = angular.copy(selectedMovie);
    };

    dialogCtrl.userRating = selectedMovie.rating;

    dialogCtrl.toggleStar = function (rating) {
        dialogCtrl.userRating = rating;
    };

    dialogCtrl.saveChanges = function () {
        angular.forEach(dialogCtrl.selectedMovie, function (value, key) {
            if (value !== originalMovie[key]) {
                updateLocalStorage(key, value);
            }
        });
        $mdDialog.hide();
    };

    dialogCtrl.closeDialog = function () {
        $mdDialog.hide();
    };

     dialogCtrl.mapRating = function () {
    if (!dialogCtrl.selectedMovie || !dialogCtrl.selectedMovie.imdbRating) {
        return 0;
    }

    var rating = parseFloat(dialogCtrl.selectedMovie.imdbRating);
    return Math.round(rating / 2);
};

    function updateLocalStorage(fieldName, fieldValue) {
        try {
            var storedMovie = localStorage.getItem('searchedMovie_' + dialogCtrl.selectedMovie.Title);
            if (storedMovie) {
                var movie = JSON.parse(storedMovie);
                movie[fieldName] = fieldValue;
                localStorage.setItem('searchedMovie_' + dialogCtrl.selectedMovie.Title, JSON.stringify(movie));
                console.log(fieldName + " updated successfully");
            } else {
                console.error("Movie not found in local storage");
            }
        } catch (error) {
            console.error("Error updating local storage:", error);
        }
    }
}]);
