

<div ng-controller="SignupController" class="d-flex bg-light">
    <div class="left-section container d-flex justify-content-center align-items-center">
        <h1>Movie Database</h1>
    </div>
    <div class="container d-flex justify-content-center align-items-center vh-100 right-section">
        <div class="card p-4 login-card">
            <h2 class="text-center">Sign Up</h2>
            
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" ng-model="firstName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="lastName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Gender" ng-model="gender">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" placeholder="Enter your phone number" ng-model="ph_number">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="User Email" ng-model="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="confirmPassword">
            </div>
            <button class="btn btn-primary btn-block mb-3" ng-click="signup()">Signup</button>
            <p class="text-center">Already have account?</p>
            <button class="btn btn-primary btn-block" ng-click="login()">Login</button>
        </div>
    </div>
</div>


