
.custom-font{
    font-size:12px;
    margin:0;
    line-height: 1;
}
.star-container{
    padding:20px 0 30px 0;
}
.star-icon{
    font-size: 20px;
}
.custom-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input{
    justify-content: flex-start;
}
.movie-card{
    margin:20px 0 0 50px;
}
