$weight: 700;
$fontSize:16px;


.appointment{
    color:white;
    text-align: center;
    padding-top:200px;
    background: url("Images/hospital_img.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter:brightness(0.6);
    
  .book-appointment{
       font-size: $fontSize + 25px;
       font-weight: $weight;
       p{
           font-size: $fontSize;
           line-height: 2;
           font-weight:$weight - 300;
       }
    }
   
    
}
.custom-container{
   padding: 50px 0 120px 0;
   height:62px;
   width:100%;
   max-width: 900px;
   margin-top: 20px;
   
}
.col{
   padding:0;
}
.form-control{
   border-radius: 0;
   border:0;
}
.form-select{
   border-right: 1px solid #cccfda;
}
.custom-height{
   height:60px;
}
.input-group-text{
   border:none;
   background-color: #ffffff;
   height:60px;
   border-radius: 0;
}
.play-icon{ 
   padding-bottom: 100px;
}