$weight: 700;
$fontSize:16px;

.section5{
    padding:90px 90px;
 }
 .navbar-toggler-icon{
    color:black;
 }
.best-practices{
    padding:60px 0;
    .card{
        margin:10px;
        border-radius: 0;
        .card-text{
            padding:10px;
            line-height: 2;
        }
    }
}
.navbar-toggler {
    .icon-bar{
    background-color: black; 
    height: 2px;
    width: 20px;
    margin-top:20px;
    display: block;
    transition: all 0.2s;
    }
    .icon-bar+.icon-bar {
        margin-top: 4px;
      }
  }
  .image-container{
    background: url("Images/hospital-staff.jpg");
    opacity:1;
    background-size:cover;
}

.color-overlay{
    background-color: rgba(19, 68, 158, 0.812);
}
 
 .ready-to-start{
    z-index: 1;
    h2{
        color:white;
        line-height: 3;
    }
    p{
        
        color:white;
    }
    
 }
.check-box{
    padding:10px 0;
    color:white;
}
.price{
    color:white;
    display: inline-flex;
    align-items: baseline;
    font-size: $fontSize + 4px;
    .space{
        padding:40px;
    }
    .align{
      margin-top:2px;
      font-weight: normal;
    }
    .font-Weight{
        font-weight:50;
        font-size: $fontSize;
    }
}

.zoom-out {
    margin:50px 0 0 10px;
    display: inline-block;
    transform: scale(3); 
    transform-origin: left;
    font-weight:400;
  }
.sign-up{
    margin-top:50px;
}
.trial{
    margin-top:30px;
}
.free-trial{
    background-color: white;
    border-radius: 0;
    span{
        padding:10px 40px;  
    }
}

.patient-review{
    padding:100px;
    opacity:1;
}
.user-review{
    padding:100px;
    z-index: 1;
    p{
         
        text-align: center;
        color: white;
    }
    .review{
        font-size: $fontSize + 8px;
    }
 }
 .submit-enquiry{
   padding:100px;
    z-index: 1;
    p{
        font-size: $fontSize + 3px;   
        text-align: center;
        color: white;
    }  
    button{
        background-color: white;
        color:black;
        padding:6px 86px;
        border-radius: 0;
    }
 }
 .footer-measure{
    padding:14px 10px;
    i{
        float:left;
        margin-right: 30px;
    }
    .view-btn{
        background-color: #ffffff;
        text-align: center;
        float:right;
        span{
            padding:2px 10px;
        }
        i{
        border-left: 1px solid #e3e3e3;
        float:right;
        margin-right:2px;
        }
    }
 }
 
