$weight: 700;
$fontSize:16px;

.section4{
    padding:60px 0;
    
 }
 .image-container{
    background: url("Images/hospital-staff.jpg");
    opacity:1;
    background-size:cover;
}
.color-overlay{
        background-color: rgba(19, 68, 158, 0.812);
}
 .text-and-button-overlay{
    padding:100px;
 }
 .ready-to-start{
    z-index: 1;
    padding:110px 106px;
    h2{
        color:white;
        line-height: 3;
    }
    p{
        
        color:white;
    }
    
 }
 .btn-measure{
    button{
        margin-top:40px;
        padding:10px 10px;
        width:100%;
        max-width: 300px;
        border-radius: 0;
       i{
        margin-right:10px;
       }
    }
 }
 
