$weight: 700;
$fontSize:16px;

.section2{
    padding:80px 50px;
    background-color: #f9f8fd;
}
.find-and-book{
    text-align: center;
    font-size: $fontSize + 15px;
    font-weight: $weight - 100;
    p{
        font-weight: $weight - 200;
        font-size: $fontSize + 7px;
        line-height: 2;
    }
    
}
.card-size {
    border:0;
    border-radius: 0;
    width: 252px;
    height: 188px;
    margin: 130px 35px 0 15px;
}

.circle {
    padding: 28px;
    margin: 0 auto;
    width: 110px;
    height: 110px;
    top:-70px;
    position: relative;
    border: 7px solid #f9f8fd;
    .pulse-icon{
     position:absolute;
     left:35px;
     top:30px; 
    }
}

.card-content {
    position: relative;
    top:-40px;
}
