$weight: 700;
$fontSize:16px;

.section3{
    display: flex;
    padding:90px 100px;
    a{
        color:#5b83e3;
        border-radius: 25px !important;
        padding:6px 5px;
    }
    .custom-width{
        padding:6px 35px;
    }
}
.section-content{
    padding:100px 0;
}

.prime-care-to-specialist{
    font-size: $fontSize + 18px;
    font-weight: $weight - 200;
    margin:40px 0;
}
.card-conatiner{
    display: flex;
    flex-wrap: wrap;
}

 aside{
    margin-left: 150px;
 }
 .custom-card-measure{
    border-radius: 0;
    margin: 0 0 25px 30px;
    display: flex;
 }
 .custom-card{
    width:430px;
 }
 .content{
   
    margin-top: 50px;
 }
 .opacity{
    opacity: 0.2;
 }
 .custom-body{
   padding:5px 10px;
  
 }
 .card-text{
    font-size: $fontSize - 5px;
    font-weight: $weight;
 }
 .custom-footer{
    display: flex;
    justify-content: space-between;
    margin-right:20px;
    .view-btn{
        background-color: white;
        padding:2px 5px;
        text-align: center;
        i{
        border-left: 1px solid #e3e3e3;
        float:right;
        margin: 0 2px 0 15px;
        }
    }
 }
 
